.head{
    text-align: center; 
    font-size: 50px;
}
.form-box{
    padding: 25px;
    margin: 100px auto;
    width: 40%;
    font-size: 25px;
    background-color: rgb(158, 158, 241);
}
input[type=text], input[type=password]{
    margin: 5px 30px; 
    box-sizing: border-box;
    height: 40px;
    width: 430px;
}
button{
    cursor: pointer;
    color: #070e08;
    margin: 10px 30px;
    width: 430px;
}
button:hover{
    opacity: 0.8;
}
span{
    margin: 20px 30px;
}

